a, p, h1 {
    font-family: 'Montserrat';
    line-height: 30px;
    color: #292929;
    font-size: 16px;
    font-family: sans-serif;
}
body {
    background-image: url(images/line.png);
    background-size: 100%;
    background-position: center;
    background-attachment:fixed;
}
.main_content {
    margin-top: 5%;
}
.navbar {
    background-color: white; !important;
}
 li {
    margin-top: 20px;
    list-style: none;
}
 li:nth-child(4){
    margin-bottom: 20px;
 }
.menu_item, .head {
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    color: #292929;
}
 